{:highlights [{:id #uuid "65486a16-aa18-4352-a0c9-2a4794019d94",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 -1.82574462890625,
                                     :x2 860.4407196044922,
                                     :y2 662.7442779541016,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 0,
                                   :y1 -1.82574462890625,
                                   :x2 0,
                                   :y2 17.34454345703125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 118.81584739685059,
                                   :y1 625.2880401611328,
                                   :x2 860.4407196044922,
                                   :y2 643.5454254150391,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 454.28162384033203,
                                   :y1 644.4868316650391,
                                   :x2 520.4842300415039,
                                   :y2 662.7442779541016,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 6},
               :content {:text "FIG. 4: Adventitious lung sounds (ALS) waveforms (top) and spectrogram (bottom) of (a) wheeze, (b) crackle, and(c) rhonch"},
               :properties {:color "yellow"}}
              {:id #uuid "6548b473-f2de-4981-956d-44a2c5253e77",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -1.82574462890625,
                                     :x2 832.9843274056911,
                                     :y2 937.2759094238281,
                                     :width 944,
                                     :height 1221.6470588235295},
                          :rects ({:x1 0,
                                   :y1 -1.82574462890625,
                                   :x2 0,
                                   :y2 17.34454345703125,
                                   :width 944,
                                   :height 1221.6470588235295}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 944,
                                   :height 1221.6470588235295}
                                  {:x1 575.5579968392849,
                                   :y1 857.9417114257812,
                                   :x2 832.9376355111599,
                                   :y2 877.1119995117188,
                                   :width 944,
                                   :height 1221.6470588235295}
                                  {:x1 536.7823620736599,
                                   :y1 877.9963684082031,
                                   :x2 832.9843274056911,
                                   :y2 897.1666564941406,
                                   :width 944,
                                   :height 1221.6470588235295}
                                  {:x1 536.7823620736599,
                                   :y1 898.0509948730469,
                                   :x2 832.9528943002224,
                                   :y2 917.2212829589844,
                                   :width 944,
                                   :height 1221.6470588235295}
                                  {:x1 536.7823620736599,
                                   :y1 918.1056213378906,
                                   :x2 656.9701672494411,
                                   :y2 937.2759094238281,
                                   :width 944,
                                   :height 1221.6470588235295}),
                          :page 3},
               :content {:text " In a normal ventricle, this can happen with an excessive volume of incoming blood or in hyperdynamic states or volumeloaded conditions"},
               :properties {:color "yellow"}}
              {:id #uuid "6548d79d-2592-45b1-b603-3ea9b7f1b356",
               :page 6,
               :position {:bounding {:x1 185.05604553222656,
                                     :y1 364.8345642089844,
                                     :x2 300.993408203125,
                                     :y2 372.1375427246094,
                                     :width 362.99999999999994,
                                     :height 469.76470588235287},
                          :rects ({:x1 185.05604553222656,
                                   :y1 364.8345642089844,
                                   :x2 300.993408203125,
                                   :y2 372.1375427246094,
                                   :width 362.99999999999994,
                                   :height 469.76470588235287}),
                          :page 6},
               :content {:text "A. Lung and Heart Sound Databases"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
