{:highlights [{:id #uuid "65483af6-57ec-420f-8039-a7343e38a255",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 78.19309997558594,
                                     :x2 647.1642227172852,
                                     :y2 197.70785522460938,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 0,
                                   :y1 78.19309997558594,
                                   :x2 0,
                                   :y2 97.36338806152344,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 101.0148696899414,
                                   :y1 157.75550842285156,
                                   :x2 647.1642227172852,
                                   :y2 177.83865356445312,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 341.0856628417969,
                                   :y1 177.6247100830078,
                                   :x2 407.0840148925781,
                                   :y2 197.70785522460938,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 7},
               :content {:text "Characteristics of breath sounds and adventitious respiratory sounds"},
               :properties {:color "yellow"}}
              {:id #uuid "65483b2e-c50f-41f4-bd12-4c7e68af4fdc",
               :page 13,
               :position {:bounding {:x1 121.754150390625,
                                     :y1 157.7554931640625,
                                     :x2 626.4431762695312,
                                     :y2 177.83865356445312,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 121.754150390625,
                                   :y1 157.7554931640625,
                                   :x2 626.4431762695312,
                                   :y2 177.83865356445312,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 13},
               :content {:text "Deﬁnition of terms for applications of respiratory sounds"},
               :properties {:color "red"}}
              {:id #uuid "65483b3f-b2e2-4b33-8e64-e1b8a40680f3",
               :page 27,
               :position {:bounding {:x1 0,
                                     :y1 78.19309997558594,
                                     :x2 663.5604705810547,
                                     :y2 191.40333557128906,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 0,
                                   :y1 78.19309997558594,
                                   :x2 0,
                                   :y2 97.36338806152344,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 84.64024353027344,
                                   :y1 151.6221466064453,
                                   :x2 663.5604705810547,
                                   :y2 171.70530700683594,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 229.55850219726562,
                                   :y1 171.32017517089844,
                                   :x2 518.5986328125,
                                   :y2 191.40333557128906,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 27},
               :content {:text "Environmental and subject conditions and breathing manoeuvres for respiratory sound recordings"},
               :properties {:color "green"}}
              {:id #uuid "65483b4d-a34a-4602-a2d9-b477fa512e16",
               :page 32,
               :position {:bounding {:x1 146.18771362304688,
                                     :y1 161.4497833251953,
                                     :x2 602.0180053710938,
                                     :y2 181.53294372558594,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 146.18771362304688,
                                   :y1 161.4497833251953,
                                   :x2 602.0180053710938,
                                   :y2 181.53294372558594,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 32},
               :content {:text "Capturing and preprocessing of respiratory sounds"},
               :properties {:color "blue"}}
              {:id #uuid "65483b68-fcd2-477a-9aaa-cb37ac36cb08",
               :page 37,
               :position {:bounding {:x1 143.634521484375,
                                     :y1 155.3021697998047,
                                     :x2 604.5729370117188,
                                     :y2 175.3853302001953,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 143.634521484375,
                                   :y1 155.3021697998047,
                                   :x2 604.5729370117188,
                                   :y2 175.3853302001953,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 37},
               :content {:text "Digitization of data for respiratory sound recordings"},
               :properties {:color "purple"}}
              {:id #uuid "65483b7f-6ca2-40b9-b212-084a89c6e6d6",
               :page 41,
               :position {:bounding {:x1 161.8206329345703,
                                     :y1 157.75552368164062,
                                     :x2 586.3339996337891,
                                     :y2 177.83868408203125,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 161.8206329345703,
                                   :y1 157.75552368164062,
                                   :x2 586.3339996337891,
                                   :y2 177.83868408203125,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 41},
               :content {:text "Basic techniques for respiratory sound analysis"},
               :properties {:color "yellow"}}
              {:id #uuid "65483b91-6b73-4d1a-908b-8b9a6e535732",
               :page 52,
               :position {:bounding {:x1 164.4593963623047,
                                     :y1 161.44976806640625,
                                     :x2 583.7223968505859,
                                     :y2 181.532958984375,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 164.4593963623047,
                                   :y1 161.44976806640625,
                                   :x2 583.7223968505859,
                                   :y2 181.532958984375,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 52},
               :content {:text "Reporting results of respiratory sound analysis"},
               :properties {:color "red"}}
              {:id #uuid "65483bca-bb0a-42d1-bc1c-14154ea52e38",
               :page 63,
               :position {:bounding {:x1 0,
                                     :y1 78.1930923461914,
                                     :x2 641.52734375,
                                     :y2 200.57483673095703,
                                     :width 731,
                                     :height 1034.457142857143},
                          :rects ({:x1 0,
                                   :y1 78.1930923461914,
                                   :x2 0,
                                   :y2 97.3633804321289,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 199.92532348632812,
                                   :y1 161.44977569580078,
                                   :x2 641.52734375,
                                   :y2 181.5329360961914,
                                   :width 731,
                                   :height 1034.457142857143}
                                  {:x1 196.58103942871094,
                                   :y1 180.4916763305664,
                                   :x2 551.6115570068359,
                                   :y2 200.57483673095703,
                                   :width 731,
                                   :height 1034.457142857143}),
                          :page 63},
               :content {:text "Abbreviations and acronyms for terms involved in computerized respiratory sound studies"},
               :properties {:color "green"}}],
 :extra {:page 63}}
